/*Actualización 3*/
/* Nosotros sección */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Montserrat;
    height: 100%;
    background-size: cover;
    background-color: #D2DAAB;
}

/*-------------------NAVEGACION--------------------*/
.navegacion{
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    height: 120px;
    background-color: #FFF0D4;
}

/*--------Logos--------*/
.logos-navegacion{
    display: flex;
}

.logos-navegacion .logo-logo-navegacion{
    padding: 20px;
    padding-right: 0px;
}

.logos-navegacion .logo-nombre-navegacion{
    color: black;
    font-weight: 100;
    font-family: 'Abril Fatface';
    margin:0px;
    padding-left:15px;
    padding-top: 25px;
}

/*--------Listas--------*/
.listas-navegacion{
    display: inline-block;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.08s ease;
}
.listas-navegacion a{
    float: right;
    color: black;
    text-decoration: none;
    margin-left: 8px;
    transition: 0.08s ease;
    font-family: 'Montserrat';
    font-size: 20px;

}
.listas-navegacion:hover{
    color: black;
    font-weight: bold;
}
.listas-navegacion a:hover{
    color: black;
    font-weight: bold;
}
/*-----------------NAVEGACION 2------------------*/

#Nosotros{
    margin: 150px auto;
    width: 80%;
}

#Nosotros img {
    max-width: 380px;
    float: right;
    border: 3px;
    margin: 50px;
    padding:40px 0px;
    margin-right: 0;
}

/*--------Para el titulo--------*/
#Nosotros h1{
    color: black;
    font-size: 45px;
    font-family: "Abril Fatface";
    font-weight: 100;
    margin-top: 200px;
    text-align: center;
}

/*--------Para el párrafo--------*/
#Nosotros p{
    color: black;
    font-size: 25px;
    font-family: "Montserrat";
    text-align: center;
}

.container-desarrolladores{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    column-gap:7%;
    padding: 2rem;
    max-width: 1200px;
}

.container-desarrolladores h1{
    text-align: center;
}

.desarrollador{
    padding: 20px;
}

.container-desarrolladores .desarrollador{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 30px;
}

.container-desarrolladores img{
    width: 100px;
    height: 100px;
    padding:0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:30px;
    margin-left:20px
  
}

.desarrollador p{
    color: black;
    font-size: 25px;
    font-family: "Montserrat";
    text-align: center;
    margin-top: 10px;
}

#Footer{
    background-color: #FFF0D4;
    color: black;
    padding:10px 0px;
    margin-top: 200px;
}

#Footer ul{
    padding:0;
    list-style:none;
    text-decoration: none;
}

#Footer li{
    list-style:none;
    text-decoration: none;
    color: black;
}

.container-footer{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    column-gap:5%;
    padding: 1rem;
    margin:2rem auto;
    max-width: 1200px;
}

.container-footer h1{
    font-family: Abril Fatface;
}

.container-footer .logos-footer{
    display: flex;
    text-align: center;
}

.container-footer .logo-logo-navegacion{
    padding: 65px;
    padding-right: 0px;
    padding-left: 10px;
}

.container-footer .logo-nombre-navegacion{
    color: black;
    font-weight: 100;
    font-family: 'Abril Fatface';
    margin:0px;
    padding-left:15px;
    padding-top:70px;
    padding-bottom: 0px;
}
.container-footer h4{
    margin:1rem 0;
    font-family: Abril Fatface;
    font-weight: 100;
    font-size: 20px;
}

.container-footer li a{
    color:black;
    text-decoration: none;
    font-size: 18px;
}

.redes-sociales a{
    font-size: 15px;
    margin-left: 10px;
    color: black;
    text-decoration: none;
    margin-left: 8px;
    transition: 0.08s ease;
}

.creditos-footer{
    display:flex;
    justify-content: space-between;
    padding:0 1rem;
    color: black;
    max-width: 1200px;
    margin:0 auto;
}

.politicas-footer ul{
    display: flex;
    flex-wrap:wrap;
}

.politicas-footer ul li{
    padding-right:1rem;
}

.politicas-footer ul li a{
    color:black;
    font-size: 1rem;
    text-decoration: none;
}
