/* Cambio 2 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Montserrat;
    height: 100%;
    background-size: cover;
    background-color: #D2DAAB;
}

/*----------------NAVEGACION----------------*/
.navegacion{
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    height: 120px;
    background-color: #FFF0D4;
}

.logos-navegacion{
    display: flex;
}

.logos-navegacion .logo-logo-navegacion{
    padding: 5px;
    padding-right: 0px;
}

.logos-navegacion .logo-nombre-navegacion{
    color: black;
    font-weight: 100;
    font-family: 'Abril Fatface';
    margin: 0px;
    padding-left:15px;
    padding-top:10px;
}

/*Actualización de valores*/

.listas-navegacion{
    display: inline-block;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.08s ease;
}

.listas-navegacion a{
    float: right;
    color: black;
    text-decoration: none;
    margin-left: 8px;
    transition: 0.08s ease;
    font-family: 'Montserrat';
    font-size: 20px;
}

.listas-navegacion:hover{
    color: black;
    font-weight: bold;
}

.listas-navegacion a:hover{
    color: black;
    font-weight: bold;
}
/*----------------NAVEGACION----------------*/

/*-------LOGIN---------------*/
#Login{
  margin: 200px auto;
  width: 70%;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  width: 100%;
  min-height: 100%;
  padding: 20px;
}


.login {
  
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 350px;
  max-height: 450px;
  background: #B6C471;
  position: relative;
  padding-bottom: 80px;

  
  input {
    display: block;
    padding: 15px 10px;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #FFF0D4;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    background-color: #FFF0D4;
    font-size: 18px;
    
    &+ i.fa {
      color: white;
      font-size: 1.3em;
      position: absolute;
      margin-top: -47px;
      opacity: 0;
      left: 0;
      transition: all 0.1s ease-in;
    }
    
    &:focus {
      &+ i.fa {
        opacity: 1;
        left: 30px;
      transition: all 0.25s ease-out;
      }
      outline: none;
      color: #444;
      border-color: #012f16;
      border-left-width: 35px;
    }
    
  }
  
  a {
   font-size: 15px;   
    color: #012f16;
    text-decoration: none;
    font-family: "Montserrat";
  }
  
  .title {
    color: black;
    font-family: "Abril Fatface";
    font-size: 30px;
    font-weight: 100;
    margin: 10px 0 30px 0;
  }
  
  button {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background: #012F16;
    color: #fff;
    font-family: 'Abril Fatface';
    font-size: 25px;
    display: block;
    border: none;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 60px;
    border: 0px solid rgba(0,0,0,0.1);
    border-radius: 0 0 2px 2px;
    transform: rotateZ(0deg);
    
    transition: all 0.1s ease-out;
      border-bottom-width: 7px;
    
    .spinner {
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      border: 4px solid #ffffff;
      border-top-color: rgba(255,255,255,0.3);
      border-radius: 100%;
      left: 50%;
      top: 0;
      opacity: 0;
      margin-left: -20px;
      margin-top: -20px;
      animation: spinner 0.6s infinite linear;
      transition: top 0.3s 0.3s ease,
                opacity 0.3s 0.3s ease,
                border-radius 0.3s ease;
      box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
    }
    
  }
  
}
